body {
  background-color: black;
  color: bisque;
}
h1 {
  color: bisque;
  border: 5px solid black;
}
h2 {
  color: darkorange;
  border: wheat 5px solid;
}
h3 {
  color: darkorange;
  border: wheat 5px solid;
}
#green-background {
  color: orange;
  background-color: lavenderblush;
}
p {
  font-family: "Courier New", Courier, monospace;
  font-weight: inherit;
  color: darkgoldenrod;
  line-height: 1em;
}

.container {
  width: 90%;
  margin: auto;
}
